{% extends "billmanager/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="well well-sm">
          <form class="form-horizontal" method="post">  {% csrf_token %}
          <fieldset>
            <legend class="text-center">Contact us</legend>

                    <!-- Name -->
					<div class="mb-4 bg-light-input">
						{{ form.name|as_crispy_field }}
					</div>
					<!-- Email -->
					<div class="mb-4 bg-light-input">
						{{ form.email|as_crispy_field }}
					</div>
					<!-- Subject -->
					<div class="mb-4 bg-light-input">
						{{ form.subject|as_crispy_field }}
					</div>
					<!-- Message -->
					<div class="mb-4 bg-light-input">
						{{ form.message|as_crispy_field }}
					</div>
					<!-- Button -->
					<div class="d-grid">
						<button class="btn btn-lg btn-primary mb-0" type="submit">Send Message</button>
					</div>
          </fieldset>
          </form>
        </div>
{% endblock content %}
</body>